<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Animal Details</title>
  <link rel="stylesheet" href="../css/styles.css" />

</head>
<body class="mainlayout">
<div th:replace="~{fragments/header :: header}">Header</div>


<div class="row1">
  <div class="row1content" th:if="${animal}">

    <div class="prevButtonDiv">
      <a class="button" th:href="@{|/animaldetails/${prevId}|}">&lt;</a>
    </div>
    <div class="nextButtonDiv">
      <a class="button" th:href="@{|/animaldetails/${nextId}|}">&gt;</a>
    </div>

    <h2 th:text="|Party animal: ${animal.name}|">Animal Details</h2>

    <div class="venueinfo">
      <div class="infoLine">
        <div class="infoLineName">City</div>
        <div class="infoLineValue" th:text="${animal.city}">City</div>
      </div>
    </div>
    <div class="venueinfo">
      <div class="infoLine">
        <div class="infoLineName">Bio</div>
        <div class="infoLineValue" th:text="${animal.bio}">Bio</div>
      </div>
    </div>

  </div>
  <div class="row1content" th:unless="${animal}">
    <p>no animal was chosen</p>
  </div>
</div>

<div class="row1">
  <div class="row1content" th:if="${animal}">
    <h2>Going to </h2>

    <div class="publist">
      <div th:each="party:${animal.parties}">
        <a class="button" th:href="@{|/partydetails/${party.id}|}">
          <span th:text="${party.name}">Party Name</span>
        </a>
      </div>
    </div>
  </div>
</div>
<div th:replace="~{fragments/footer :: footer}">Footer</div>

</body>
</html>