<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>PubDetails</title>
  <link rel="stylesheet" href="../css/styles.css" />
</head>
<body class="mainlayout">
<div th:replace="fragments/header :: header">Header</div>

<div class="container">
  <div th:if="${artist}">
    <h1 th:text="${artist.artistName}">pubTitle</h1>
    <a th:href="${artist.genre}" href="#">More info</a>

  </div>
  <p th:unless="${artist}">No valid artist is chosen</p>
</div>

<div th:replace="fragments/footer :: footer">Footer</div>

</body>
</html>