<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>ArtistList</title>
  <link rel="stylesheet" href="../css/styles.css" />
</head>
<body class="mainlayout">
<div th:replace="fragments/header :: header">Header</div>


<div class="row1">
  <div class="row1content">
    <h2>artists</h2>
    <div class="cols2">
      <div th:text="|${nrOfArtists} artists found|">10 artists</div>
      <div th:unless="${showFilters}" class="filters">
        <a class="button filterButton" th:href="@{/artistlist/filter}">filter</a>
      </div>
      <div th:if="${showFilters}" class="filters">
        <a class="button filterButton" th:href="@{/artistlist}">-</a>
        <form>
          <div class="onefilter">
            <input type="submit" value="search" class="buttonLook filterButton">
          </div>
          <h3>keyword</h3>
          <div class="onefilter">
            <label for="keyword" class="filtername"></label>
            <input type="text" id="keyword" name="keyword" th:value="${keyword}" value="0">
          </div>
        </form>
      </div>
      <div class="publist">
        <div th:each="artist:${artists}">
          <a class="button"
             th:href="@{|/artistdetails/${artist.id}|}"
             th:text="${artist.artistName}">Artist Name</a>
        </div>
      </div>
    </div>
  </div>
</div>

<div th:replace="fragments/footer :: footer">Footer</div>
</body>
</html>