<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Party List</title>
  <link rel="stylesheet" href="../css/styles.css" />

</head>
<body class="mainlayout">
<div th:replace="~{fragments/header :: header}">Header</div>


<div class="row1">
  <div class="row1content">
    <div class="editButtonDiv">
      <a th:href="@{|/admin/partynew|}" class="button">new</a>
    </div>
    <h2>parties</h2>
    <div class="cols2">
      <div class="filters"></div>
      <div class="publist">
        <div th:each="party:${parties}">
          <a class="button" th:href="@{|/partydetails/${party.id}|}">
            <span th:text="${party.name}">Party Name</span>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>

<div th:replace="~{fragments/footer :: footer}">Footer</div>

</body>
</html>