<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>PubDetails</title>
    <link rel="stylesheet" href="../css/styles.css" />
</head>
<body class="mainlayout">
  <div th:replace="fragments/header :: header">Header</div>

<div class="border">
    <a th:href="@{|/pubdetailsbyindex/${prevIndex}|}" href="#" class="nextprev">&lt;</a>
</div>
<div class="container">
    <div th:if="${pub}">
        <h1 th:text="${pub.pubName}">pubTitle</h1>
        <a th:href="${pub.linkMoreInfo}" href="#">More info</a>
        <div class="icons">
        <div class="icon" th:if="${pub.hasFreeParking}"><img src="/img/freeparking.png"></div>
        <div class="icon" th:if="${pub.hasGoodFood}"><img src="/img/goodfood.png"></div>
        <div class="icon" th:if="${pub.getToddlerFriendly}"><img src="/img/toddler.png"></div>
        <div class="icon" th:if="${pub.getTeenagerFriendly}"><img src="/img/teenagers.png"></div>
        </div>

    </div>
    <p th:unless="${pub}">No valid pub is chosen</p>
</div>
<div class="border">
    <a th:href="@{|/pubdetailsbyindex/${nextIndex}|}" href="#" class="nextprev">&gt;</a>
</div>
  <div th:replace="fragments/footer :: footer">Footer</div>

</body>
</html>